---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition"
image: "images/europcom.png"
bodyClass: bg-corLight
numbers:
  - number: "250"
    title: "visuals designed for the website"
    icon: "icon-palette.png"
  - number: "22"
    icon: "icon-mailbox.png"
    title: "news items in e-newsletter"
  - number: "2161"
    icon: "icon-graph-up.png"
    title: "page views of the 141st Plenary"
  - number: "1763"
    icon: "icon-play-btn.png"
    title: "views of high-level debates"
  - number: "4"
    icon: "icon-clock-history.png"
    title: "minutes on average on the 141st Plenary page"
  - number: "9"
    icon: "icon-chat-left-quote.png"
    title: "Opinions discussed and adopted"
  - number: "22"
    icon: "icon-globe.png"
    title: "countries with media partnerships"
  - number: "66%"
    icon: "icon-heart.png"
    title: "Brexit as the leading topic with 66%"
footerelements:
  - "Manage subscription"
  - "Unsubscribe"
  - "Environmental statement"
  - "Legal notice"
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="sm:px-16">
          <table class="w-600 sm:w-full">
            <tr>
              <td>
                <table class="bg-corEuropcomBlueLight">
                  <tr>
                    <td align="center" class="bg-corEuropcomBlueLight">
                      <component
                        src="src/components/headerEuropcom.html"
                      ></component>
                    </td>
                  </tr>
                  <tr>
                    <td><div class="leading-64">&zwnj;</div></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <component
                        src="src/components/innumbers.html"
                      ></component>
                    </td>
                  </tr>
                  <tr>
                    <td><div class="leading-64">&zwnj;</div></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <component src="src/components/debates.html"></component>
                    </td>
                  </tr>
                  <tr>
                    <td><div class="leading-64">&zwnj;</div></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <component src="src/components/opinions.html"></component>
                    </td>
                  </tr>
                  <tr>
                    <td><div class="leading-64">&zwnj;</div></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <component src="src/components/more.html"></component>
                    </td>
                  </tr>
                  <tr>
                    <td><div class="leading-64">&zwnj;</div></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <component src="src/components/alert.html"></component>
                    </td>
                  </tr>
                  <tr>
                    <td><div class="leading-64">&zwnj;</div></td>
                  </tr>
                  <tr>
                    <td align="center">
                      <component src="src/components/footer.html"></component>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
