<table class="w-full">
  <tr>
    <td class="bg-white p-64">
      <table class="w-full">
        <tr>
          <td class="align-top">
            <img
              src="https://cor.europa.eu/SiteCollectionImages/Newsletter/PostPlenaryNewsletter/calendar-post-plenary.png"
              width="100"
            />
          </td>
          <td>
            <table class="pl-16">
              <tr>
                <td class="text-2xl">Join us for the 142nd Plenary Session</td>
              </tr>
              <tr>
                <td class="h-20"></td>
              </tr>
              <tr>
                <td class="text-lg">3 – 5 February 2021</td>
              </tr>
              <tr>
                <td class="h-32"></td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://example.com"
                    class="bg-corBlueDark hover:bg-corPlenaryBlueLight rounded inline-block font-semibold text-white text-base leading-full py-16 px-24 no-underline"
                    >Read more &rarr;</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
