<table class="w-full">
  <tr>
    <td class="p-24 bg-white rounded">
      <h2 class="m-0 mb-24 text-2xl leading-24">In debate with</h2>
      <p class="m-0 mb-24 text-base text-gray-800">Introduction text</p>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <each loop="item in page.debates.items">
          <tr>
            <td class="w-3/12">
              <img src="{{ item.Plenary_Debate_SpeakerPictureURL }}" />
            </td>
            <td class="w-9/12 bg-white p-20 rounded-br rounded-bl">
              <h3 class="mt-8 mb-12 text-l">{{ item.Title }}</h3>

              <strong>{{ item.Speaker }}</strong>
              <div class="m-0 mb-16 text-base text-gray-400 pt-12">
                {{ item.Debate_SpeakerTitle }}
              </div>
              <a
                href="{{ item.Plenary_Debate_VideoLinkURL }}"
                class="text-blue-500 no-underline hover:underline"
                >View debate &rarr;</a
              >
            </td>
          </tr>
          <if condition="!loop.last">
            <tr>
              <td class="bg-white" colspan="2">
                <hr class="border-0 bg-gray-100 text-gray-500 h-px" />
              </td>
            </tr>
          </if>
        </each>
      </table>
    </td>
  </tr>
</table>
