<table class="w-full max-w-500 pb-20 bg-white rounded-3xl">
  <tr>
    <td class="p-24" colspan="2">
      <h2 class="m-0 mb-24 text-2xl leading-24">In debate with</h2>
    </td>
  </tr>
  <each loop="item in page.debates.items">
    <if condition="(loop.index + 1) % 2 === 1">
      <tr>
    </if>

    <td  class="align-top responsivecol" align="center" style="width:50%;">
      <table>
        <tr>
          <td class="text-center">
            <img width="100" src="{{ item.Plenary_Debate_SpeakerPictureURL }}" />
          </td>
        </tr>
        <tr>
          <td colspan="2" class="p-20 italic">
              <img
                class="mr-20"
                width="20"
                src="https://cor.europa.eu/SiteCollectionImages/Newsletter/PostPlenaryNewsletter/icon-quote-right.png"
              />
              {{ item.Plenary_Debate_Quote }}
              <img
                width="20"
                src="https://cor.europa.eu/SiteCollectionImages/Newsletter/PostPlenaryNewsletter/icon-quote-left.png"
                class="ml-20"
              />
          </td>
        </tr>
        <tr>
          <td class="w-10/12 bg-white px-20 pb-20 rounded-br rounded-bl">
            <table>
              <tr>
                <td class="font-bold">{{ item.Speaker }}</td>
              </tr>
              <tr>
                <td class="m-0 text-base text-gray-400 pt-12">
                  {{ item.Debate_SpeakerTitle }}
                </td>
              </tr>
              <tr>
                <td class="pt-16 text-blue-500 no-underline hover:underline">
                  <a
                    href="{{ item.Plenary_Debate_VideoLinkURL }}"
                    class="text-blue-500 no-underline hover:underline"
                    >Access the debate &rarr;</a
                  >
                </td>
              </tr>
            </table>
            
            
          </td>
        </tr>
      </table>
    </td>
    <if condition="(loop.index + 1) % 2 === 0">
      </tr>
    </if>
  </each>
</table>
