<table class="w-full">
  <tr>
    <td class="px-48 sm:px-24 text-center">
      <h3 class="m-0 text-base font-semibold text-white uppercase">
        Follow us
      </h3>
    </td>
  </tr>
  <tr>
    <td class="h-32"></td>
  </tr>
  <tr>
    <td class="text-center">
      <each loop="item in page.socialmedia">
        <a href="{{ item.url }}" name="{{ item.name }}" class="p-16"
          ><img src="{{ item.logoUrl }}" width="50px" height="50px"
        /></a>
      </each>
    </td>
  </tr>
  <tr>
    <td class="h-64 sm:h-32"></td>
  </tr>
  <tr>
    <td>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="w-4/12 bg-cool-gray-300 text-center text-sm text-white">
            <a href="" class="text-white hover:text-blue-400 no-underline pr-10"
              >Manage subscription</a
            >

            <a href="" class="text-white hover:text-blue-400 no-underline px-10"
              >Unsubscribe</a
            >

            <a href="" class="text-white hover:text-blue-400 no-underline px-10"
              >Environmental statement</a
            >

            <a href="" class="text-white hover:text-blue-400 no-underline pl-10"
              >Legal notice</a
            >
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="h-48 sm:h-32"></td>
  </tr>
</table>
