<table class="w-full">
  <tr>
    <td class="px-48 sm:px-24 text-left">
      <h3 class="m-0 text-base font-semibold text-gray-500 uppercase">
        Follow us
      </h3>
    </td>
  </tr>
  <tr>
    <td class="h-64 sm:h-32"></td>
  </tr>
  <tr>
    <td>
      <table class="w-600 sm:w-full">
        <tr>
          <td class="w-1/12"></td>
          <td
            class="w-4/12 bg-cool-gray-300 text-center border-r border-gray-300"
          >
            <p class="m-0 text-sm text-cool-gray-500">
              <a href="" class="text-blue-500 hover:text-blue-400 no-underline"
                >Manage subscription</a
              >
            </p>
          </td>
          <td
            class="w-4/12 bg-cool-gray-300 text-center border-r border-gray-300"
          >
            <p class="m-0 text-sm text-cool-gray-500">
              <a href="" class="text-blue-500 hover:text-blue-400 no-underline"
                >Unsubscribe</a
              >
            </p>
          </td>
          <td class="w-4/12 bg-cool-gray-300 text-center">
            <p class="m-0 text-sm text-cool-gray-500">
              <a href="" class="text-blue-500 hover:text-blue-400 no-underline"
                >Legal notice</a
              >
            </p>
          </td>
          <td class="w-1/12"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="h-48 sm:h-32"></td>
  </tr>
</table>
