<table class="w-full">
  <tr>
    <td class="px-48 sm:px-24 text-center">
      <h3 class="m-0 text-base font-semibold text-white uppercase">
        Follow us
      </h3>
    </td>
  </tr>
  <tr>
    <td class="h-32"></td>
  </tr>
  <tr>
    <td>
      <table class="w-600 sm:w-full">
        <tr>
          <each loop="item in page.socialmedia">
            <td class="text-center p-16">
              <a href="{{ item.url }}" name="{{ item.name }}"
                ><img src="{{ item.logoUrl }}" width="50"
              /></a>
            </td>
          </each>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="h-64 sm:h-32"></td>
  </tr>
  <tr>
    <td>
      <table class="w-600 sm:w-full">
        <tr align="center">
          <each loop="item in page.footerelements">
            <td
              class="sm:w-full inline-block bg-cool-gray-300 text-center text-sm text-white px-10 {{ 'pr-10' if loop.first }} {{ 'pr-10' if loop.last }}"
            >
              <a href="" class="text-white hover:text-blue-400 no-underline"
                >{{ item }}</a
              >
            </td>
          </each>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="h-48 sm:h-32"></td>
  </tr>
</table>
