<table class="bg-white w-full max-w-500 p-20 rounded-3xl">
  <tr>
    <td colspan="2" align="center" style="padding-top: 30px">
      <h2
        class="m-0 text-3xl text-slate-darkest font-normal"
        style="font-weight: 400; font-size: 24px; margin: 0; color: #333333"
      >
        In numbers
      </h2>
    </td>
  </tr>
  <tr>
    <td><div class="leading-28">&zwnj;</div></td>
  </tr>
  <tr>
    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img
              src="https://cor.europa.eu/SiteCollectionImages/Newsletter/PostPlenaryNewsletter/icon-palette.png"
              width="25"
            />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">250</div>
            <div>visuals designed for the website</div>
          </td>
        </tr>
      </table>
    </td>
    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img src="images/icon-mailbox.png" width="25" />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">22</div>
            <div>news items in e-newsletter</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><div class="leading-28">&zwnj;</div></td>
  </tr>
  <tr>
    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img src="images/icon-graph-up.png" width="25" />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">2161</div>
            <div>page views of the 141st Plenary</div>
          </td>
        </tr>
      </table>
    </td>

    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img src="images/icon-play-btn.png" width="25" />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">1763</div>
            <div>views of high-level debates</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><div class="leading-28">&zwnj;</div></td>
  </tr>
  <tr>
    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img src="images/icon-clock-history.png" width="25" />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">4</div>
            <div>minutes on average on the 141st Plenary page</div>
          </td>
        </tr>
      </table>
    </td>

    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img src="images/icon-chat-left-quote.png" width="25" />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">9</div>
            <div>Opinions discussed and adopted</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><div class="leading-28">&zwnj;</div></td>
  </tr>
  <tr>
    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img src="images/icon-globe.png" width="25" />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">22</div>
            <div>countries with media partnerships</div>
          </td>
        </tr>
      </table>
    </td>

    <td class="w-6/12" align="center">
      <table class="w-full max-w-400 text-center">
        <tr>
          <td>
            <img src="images/icon-heart.png" width="25" />
          </td>
          <td class="pl-32">
            <div class="text-4xl font-bold text-corPlenaryBlue">66%</div>
            <div>Brexit as the leading topic with 66%</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
