<table class="bg-white w-full max-w-500 p-20 rounded-3xl">
  <tr>
    <td colspan="2" style="padding-top: 30px">
      <h2 class="m-0 mb-24 text-2xl leading-24">
        In numbers
      </h2>
    </td>
  </tr>
  <tr>
    <td><div class="leading-28">&zwnj;</div></td>
  </tr>
  <each loop="item in page.numbers">
    <if condition="loop.index % 2 === 0">
      <tr>
    </if>
      <td class="w-6/12" align="center">
        <table class="w-full text-center" cellpadding="20px">
          <tr>
            <td class="w-2/12 p-0">
              <img
                  src="https://cor.europa.eu/SiteCollectionImages/Newsletter/PostPlenaryNewsletter/{{ item.icon }}"
                  
                />
            </td>
            <td class="pl-32 w-10/12">
              <div class="text-4xl font-bold text-corPlenaryBlue">
                
                {{ item.number }}
              </div>
              <div>{{ item.title }}</div>
            </td>
          </tr>
        </table>
      </td>
    <if condition="loop.index % 2 === 1">
      </tr>
    </if>
  </each>
</table>
