<table class="w-full max-w-500">
  <tr>
    <td class="text-left">
      <h3 class="m-0 text-base font-semibold text-white uppercase">
        Highlights from the Plenary
      </h3>
      <div class="leading-24">&zwnj;</div>
      <table class="w-full" cellpadding="0" cellspacing="0" role="presentation">
        <tr>
          <td class="text-center">
            <a href="">
              <img
                width="500"
                src="https://cor.europa.eu/SiteCollectionImages/Newsletter/PostPlenaryNewsletter/videoCover.png"
              />
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
