<table class="bg-white w-full max-w-500 p-20 rounded-3xl">
  <tr>
    <td class="text-left">
      <h3 class="m-0 text-base font-semibold text-gray-500 uppercase">
        More from the Plenary
      </h3>
      <div class="leading-24">&zwnj;</div>
      <table class="w-full" cellpadding="0" cellspacing="0" role="presentation">
        <tbody>
          <each loop="item in page.pressReleases.items">
            <tr>
              <td>
                <h4 class="m-0 mb-4 text-l font-semibold">
                  <a
                    class="text-blue-500 hover:text-blue-400 no-underline"
                    href="https://cor.europa.eu/en/news/Pages/{{ item.FileLeafRef }}"
                    >{{ item.Title }}</a
                  >
                </h4>
              </td>
            </tr>
            <if condition="loop.remaining !== 0">
              <tr>
                <td class="py-24">
                  <div class="bg-gray-300 h-px leading-px">&zwnj;</div>
                </td>
              </tr>
            </if>
          </each>
        </tbody>
      </table>
    </td>
  </tr>
</table>
