<table class="w-full max-w-500 pb-20 bg-white rounded-3xl">
  <tr>
    <td class="p-24">
      <h2 class="m-0 mb-24 text-2xl leading-24">Our political work</h2>
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <each loop="item in page.opinions.items">
          <tr>
            <td class="w-3/12">
              <if condition="item.Raporteur_Picture_URL">
                <img width="125" src="{{ item.Raporteur_Picture_URL }}" />
              </if>
              <else>
                <img
                  width="125"
                  src="https://cor.europa.eu/Style%20Library/Cor/style/img/placeholderMember.png"
                />
              </else>
            </td>
            <td class="w-9/12 bg-white p-20 rounded-br rounded-bl">
              <h3 class="mt-8 mb-12 text-base">
                <a
                  href="https://example.com"
                  class="text-black hover:text-cool-gray-700 no-underline"
                  >{{ item.Title }}</a
                >
              </h3>
              By Rapporteur
              <strong>{{ item.CoR_Op_Rapporteur }}</strong>
              <p class="m-0 mb-16 text-base text-cool-gray-500"></p>
              <a
                href="https://example.com"
                class="text-blue-500 no-underline hover:underline"
                >Learn more &rarr;</a
              >
            </td>
          </tr>
          <if condition="!loop.last">
            <tr>
              <td class="bg-white" colspan="2">
                <hr class="border-0 bg-gray-100 text-gray-500 h-px" />
              </td>
            </tr>
          </if>
        </each>
      </table>
    </td>
  </tr>
</table>
